// app global css
* {
    cursor: inherit;
}

body {
    cursor: default;
    user-select: none;
}

textarea {
    cursor: text;
    user-select: initial;
}

.q-message-text-content {
    cursor: pointer;
}